

  <div id="page" class="container">

    <div class="row">

      <div class="large-3 medium-4 small-7 columns large-centered medium-centered small-centered logo-wrapper">
        <img src="/images/svg/logo-dark.svg" alt="{{config.site_name}}" width="2001" height="417" />
      </div>

    </div><!-- /.row -->

    <div class="row">

      <div id="auth-form" class="large-6 columns large-centered"></div>

    </div><!-- /.row -->

  </div><!-- /#auth.container -->

  <div id="loading" class="container"></div>
