
<div class="large-12 columns text-center">
  <h2>Welcome! Connect your first server now.</h2>

  <p class="instructions">Spin up a server at your favorite provider,
      connect it to ServerPilot, and we'll install everything you need to
      host PHP apps like WordPress.</p>

  <p><a href="/servers/new" class="navigate button radius">Connect a Server</a></p>
</div>
