

<div class="large-12 columns option-group">
  <h4>API Access</h4>
  <hr>


  <form>
    <div class="row">

        <div class="large-2 columns">
          <label for="clientid" class="right inline">Client ID</label>
        </div>

        <div class="large-10 columns">
          <input type="text" name="clientid" value="{{clientid}}" readonly>
        </div>

    </div>
    <div class="row">

        <div class="large-2 columns">
          <label for="apikey" class="right inline">API Key</label>
        </div>

        <div class="large-10 columns">
          <input type="text" id="apikey" name="apikey" placeholder="" value="{{apikey}}" readonly>
        </div>

    </div>
    <div class="row">

        <div class="large-10 large-offset-2 columns">
        
          {{#each locals.messages}}
            <div class="row">
              <div class="small-12 columns">
                <div data-alert class="alert-box {{this.kind}} radius">
                  {{this.message}}
                  <a href="#" class="close">&times;</a>
                </div>
              </div>
            </div>
          {{/each}}

          <button class="button radius">New API Key</button>

        </div>

    </div>

  </form>
</div>
