

<div class="large-12 columns option-group">
  <h4>Password</h4>
  <hr>

  <form data-abide>
    <div class="row">

        <div class="large-2 columns">
          <label for="email" class="right inline">Email</label>
        </div>

        <div class="large-10 columns">
          <input type="text" id="email" name="email" placeholder="" value="{{email}}" disabled>
        </div>

    </div>
    <div class="row">

        <div class="large-2 columns">
          <label for="curpasswd" class="right inline">Current Password</label>
        </div>

        <div class="large-10 columns">
          <input type="password" id="curpasswd" name="curpasswd" placeholder="" placeholder="" required>
          <small class="error">Required.</small>
        </div>

    </div>
    <div class="row">

        <div class="large-2 columns">
          <label for="newpasswd" class="right inline">New Password</label>
        </div>

        <div class="large-10 columns">
          <input type="password" id="newpasswd" name="newpasswd" placeholder="" required>
          <small class="error">Passwords must be at least 8 characters.</small>
        </div>

    </div>
    <div class="row">

        <div class="large-2 columns">
          <label for="newpasswd-repeat" class="right inline">Repeat New Password</label>
        </div>

        <div class="large-10 columns">
          <input type="password" id="newpasswd-repeat" name="newpasswd-repeat" placeholder="" required data-equalto="newpasswd">
          <small class="error">Passwords must match.</small>
        </div>

    </div>
    <div class="row">

        <div class="large-10 large-offset-2 columns">
        
          {{#each locals.messages}}
            <div class="row">
              <div class="small-12 columns">
                <div data-alert class="alert-box {{this.kind}} radius">
                  {{this.message}}
                  <a href="#" class="close">&times;</a>
                </div>
              </div>
            </div>
          {{/each}}
          
          <button class="button radius">Update</button>
        </div>

    </div>

  </form>
</div>
