
<form>

  <div class="large-12 columns option-group">
    <h4>Preferences</h4>
    <hr>
  </div>

  <div class="large-12 columns option">
    <div class="switch round large">
      <input id="notifications" name="notifications[active]" type="checkbox" {{#if prefs.notifications.active}}checked{{/if}}>
      <label for="notifications"></label>
    </div> 
    <h4>Notifications</h4>
  </div>

</form>
