

  <div class="large-12 columns option">

    <p>Requires a server running 64-bit Ubuntu 12.04 or 14.04.</p>

    <form>
        
      {{#each locals.messages}}
        <div class="row">
          <div class="small-12 columns">
            <div data-alert class="alert-box {{this.kind}} radius">
              {{this.message}}
              <a href="#" class="close">&times;</a>
            </div>
          </div>
        </div>
      {{/each}}

      <div class="row">

        <div class="small-9 columns">
          <input type="text" id="name" name="name" placeholder="Server Name" autocorrect="off" autocapitalize="off" spellcheck="false" />
        </div>

        <div class="small-3 columns">
          <button class="button postfix">Start</button>
        </div>

      </div>

    </form>

  </div>
