<!DOCTYPE html>

<html>

  <head>

    <title>{{#if title}}{{title}}{{else}}Missing Title{{/if}}</title>

    <meta charset="utf-8" />
    <meta name="robots" content="noindex" />
    <meta name="google" content="notranslate" />

    <link rel="shortcut icon" href="/images/fav.ico">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Modernizr -->
    <script src="/js/modernizr/modernizr.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/main.css?test2">

  </head>

  <body>

    {{{ body }}}

  </body>

</html>
