
<div class="large-12 columns">

  <article class="page page-content">
    
    <header id="page-header" class="row">
      
        <div class="large-12 columns">
          <h2 class="page-title">Account</h2>
        </div>

        <div class="large-12 columns">
          <ul class="inline-list left submenu">
            <li><a href="/account/password" class="navigate" data-action="password">Password</a></li>
            <li><a href="/account/preferences" class="navigate" data-action="preferences">Preferences</a></li>
          </ul>
        </div>

    </header>

    <!-- render the meat here -->
    <section id="page-content"></section>

  </article>

</div>
