
<div class="large-12 columns">

  <article class="page page-content">
    
    <header id="page-header" class="row">

        <div class="large-12 columns">
          <h2 class="page-title">New Meeting</h2>
        </div>

    </header>

    <!-- render the meat here -->
    <section id="page-content"></section>

  </article>

</div>
