<div class="large-12 columns option">
  <h4>Delete this server</h4>
  <p>Deleting this server will not delete any data from the server.
      However, you will no longer be able to manage this server,
      its apps, or its databases with ServerPilot.</p>
  {{!-- <p>Once you delete a server, there is no going back. Please be certain.</p> --}}
  <p>
    <a href="#" class="delete-server button radius small alert">Delete</a>
    <a href="#" class="delete-cancel button radius small secondary">Cancel</a>
    <a href="#" class="delete-confirm button radius small alert">Confirm Delete</a>
  </p>
</div>
