
<div class="large-12 columns option">
  <div class="switch round large">
    <input id="autoupdates" name="autoupdates" type="checkbox" {{#if autoupdates}}checked{{/if}}>
    <label for="autoupdates"></label>
  </div> 
  <h4>Automatic security updates</h4>
</div>

<div class="large-12 columns option">
  <div class="switch round large">
    <input id="firewall" name="firewall" type="checkbox" {{#if firewall}}checked{{/if}}>
    <label for="firewall"></label>
  </div> 
  <h4>Firewall</h4>
</div>
