
  <p>
    <a href="/sysusers/{{id}}" class="navigate">{{name}}</a>
  </p>

  <div class="confirm-delete-wrapper hide">
    <p>Once you delete a user, there is no going back. Please be certain.</p>
    <a href="#" class="delete-confirm button radius small alert">Delete</a>
    <hr />
  </div>
