<div class="large-12 columns option-group">
  
  <a href="/sysusers/new" class="new-user button radius right {{!navigate}}"><i class="icon icon-plus"></i> Add System User</a>

  <h4>System Users</h4>
  <hr>

  <div class="create-user"></div>

  <div class="users-list">
    <ul class="no-bullet"></ul>
  </div>

</div>


