$line-icon-font-path: "/fonts/line-icons" !default;
$line-icon-css-prefix: "line-icon";

@font-face {
  font-family: "line-icons";
  src:url("#{$line-icon-font-path}/line-icons.eot");
  src:url("#{$line-icon-font-path}/line-icons.eot?#iefix") format("embedded-opentype"),
    url("#{$line-icon-font-path}/line-icons.woff") format("woff"),
    url("#{$line-icon-font-path}/line-icons.ttf") format("truetype"),
    url("#{$line-icon-font-path}/line-icons.svg#line-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-family: "line-icons" !important;
}

.#{$line-icon-css-prefix} {
  font-family: "line-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  display: inline-block;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &[data-#{$line-icon-css-prefix}]:before {
    content: attr(data-line-icon);
  }
}

.#{$line-icon-css-prefix}-alerts-01:before { content: "a"; }
.#{$line-icon-css-prefix}-alerts-02:before { content: "b"; }
.#{$line-icon-css-prefix}-alerts-03:before { content: "c"; }
.#{$line-icon-css-prefix}-alerts-04:before { content: "d"; }
.#{$line-icon-css-prefix}-alerts-05:before { content: "e"; }
.#{$line-icon-css-prefix}-alerts-06:before { content: "f"; }
.#{$line-icon-css-prefix}-alerts-07:before { content: "g"; }
.#{$line-icon-css-prefix}-alerts-08:before { content: "h"; }
.#{$line-icon-css-prefix}-alerts-09:before { content: "i"; }
.#{$line-icon-css-prefix}-alerts-10:before { content: "j"; }
.#{$line-icon-css-prefix}-alerts-11:before { content: "k"; }
.#{$line-icon-css-prefix}-alerts-12:before { content: "l"; }
.#{$line-icon-css-prefix}-alerts-13:before { content: "m"; }
.#{$line-icon-css-prefix}-arrows-08:before { content: "n"; }
.#{$line-icon-css-prefix}-arrows-07:before { content: "o"; }
.#{$line-icon-css-prefix}-arrows-06:before { content: "p"; }
.#{$line-icon-css-prefix}-arrows-05:before { content: "q"; }
.#{$line-icon-css-prefix}-arrows-03:before { content: "r"; }
.#{$line-icon-css-prefix}-arrows-04:before { content: "s"; }
.#{$line-icon-css-prefix}-arrows-02:before { content: "t"; }
.#{$line-icon-css-prefix}-arrows-01:before { content: "u"; }
.#{$line-icon-css-prefix}-alerts-18:before { content: "v"; }
.#{$line-icon-css-prefix}-alerts-17:before { content: "w"; }
.#{$line-icon-css-prefix}-alerts-16:before { content: "x"; }
.#{$line-icon-css-prefix}-alerts-15:before { content: "y"; }
.#{$line-icon-css-prefix}-alerts-14:before { content: "z"; }
.#{$line-icon-css-prefix}-arrows-09:before { content: "A"; }
.#{$line-icon-css-prefix}-arrows-10:before { content: "B"; }
.#{$line-icon-css-prefix}-arrows-11:before { content: "C"; }
.#{$line-icon-css-prefix}-arrows-12:before { content: "D"; }
.#{$line-icon-css-prefix}-arrows-13:before { content: "E"; }
.#{$line-icon-css-prefix}-arrows-14:before { content: "F"; }
.#{$line-icon-css-prefix}-arrows-15:before { content: "G"; }
.#{$line-icon-css-prefix}-arrows-16:before { content: "H"; }
.#{$line-icon-css-prefix}-arrows-22:before { content: "I"; }
.#{$line-icon-css-prefix}-arrows-17:before { content: "J"; }
.#{$line-icon-css-prefix}-arrows-18:before { content: "K"; }
.#{$line-icon-css-prefix}-arrows-19:before { content: "L"; }
.#{$line-icon-css-prefix}-arrows-20:before { content: "M"; }
.#{$line-icon-css-prefix}-arrows-21:before { content: "N"; }
.#{$line-icon-css-prefix}-arrows-30:before { content: "O"; }
.#{$line-icon-css-prefix}-arrows-31:before { content: "P"; }
.#{$line-icon-css-prefix}-arrows-32:before { content: "Q"; }
.#{$line-icon-css-prefix}-arrows-33:before { content: "R"; }
.#{$line-icon-css-prefix}-arrows-34:before { content: "S"; }
.#{$line-icon-css-prefix}-arrows-23:before { content: "O"; }
.#{$line-icon-css-prefix}-arrows-24:before { content: "T"; }
.#{$line-icon-css-prefix}-arrows-25:before { content: "U"; }
.#{$line-icon-css-prefix}-arrows-26:before { content: "V"; }
.#{$line-icon-css-prefix}-arrows-27:before { content: "W"; }
.#{$line-icon-css-prefix}-arrows-28:before { content: "X"; }
.#{$line-icon-css-prefix}-arrows-29:before { content: "Y"; }
.#{$line-icon-css-prefix}-arrows-36:before { content: "Z"; }
.#{$line-icon-css-prefix}-arrows-37:before { content: "0"; }
.#{$line-icon-css-prefix}-arrows-38:before { content: "1"; }
.#{$line-icon-css-prefix}-arrows-39:before { content: "2"; }
.#{$line-icon-css-prefix}-arrows-40:before { content: "3"; }
.#{$line-icon-css-prefix}-arrows-41:before { content: "4"; }
.#{$line-icon-css-prefix}-badges-votes-01:before { content: "5"; }
.#{$line-icon-css-prefix}-badges-votes-02:before { content: "6"; }
.#{$line-icon-css-prefix}-arrows-30:before { content: "7"; }
.#{$line-icon-css-prefix}-badges-votes-03:before { content: "8"; }
.#{$line-icon-css-prefix}-badges-votes-04:before { content: "9"; }
.#{$line-icon-css-prefix}-badges-votes-05:before { content: "!"; }
.#{$line-icon-css-prefix}-badges-votes-06:before { content: "\""; }
.#{$line-icon-css-prefix}-arrows-35:before { content: "#"; }
.#{$line-icon-css-prefix}-badges-votes-07:before { content: "$"; }
.#{$line-icon-css-prefix}-badges-votes-08:before { content: "%"; }
.#{$line-icon-css-prefix}-badges-votes-09:before { content: "&"; }
.#{$line-icon-css-prefix}-badges-votes-10:before { content: "'"; }
.#{$line-icon-css-prefix}-badges-votes-11:before { content: "("; }
.#{$line-icon-css-prefix}-badges-votes-12:before { content: ")"; }
.#{$line-icon-css-prefix}-badges-votes-13:before { content: "*"; }
.#{$line-icon-css-prefix}-badges-votes-14:before { content: "+"; }
.#{$line-icon-css-prefix}-badges-votes-15:before { content: ","; }
.#{$line-icon-css-prefix}-badges-votes-16:before { content: "-"; }
.#{$line-icon-css-prefix}-chat-messages-01:before { content: "."; }
.#{$line-icon-css-prefix}-chat-messages-02:before { content: "/"; }
.#{$line-icon-css-prefix}-chat-messages-03:before { content: ":"; }
.#{$line-icon-css-prefix}-chat-messages-04:before { content: ";"; }
.#{$line-icon-css-prefix}-chat-messages-05:before { content: "<"; }
.#{$line-icon-css-prefix}-chat-messages-06:before { content: "="; }
.#{$line-icon-css-prefix}-chat-messages-07:before { content: ">"; }
.#{$line-icon-css-prefix}-chat-messages-08:before { content: "?"; }
.#{$line-icon-css-prefix}-chat-messages-09:before { content: "@"; }
.#{$line-icon-css-prefix}-chat-messages-10:before { content: "["; }
.#{$line-icon-css-prefix}-chat-messages-11:before { content: "]"; }
.#{$line-icon-css-prefix}-chat-messages-12:before { content: "^"; }
.#{$line-icon-css-prefix}-chat-messages-13:before { content: "_"; }
.#{$line-icon-css-prefix}-chat-messages-14:before { content: "`"; }
.#{$line-icon-css-prefix}-chat-messages-15:before { content: "{"; }
.#{$line-icon-css-prefix}-chat-messages-16:before { content: "|"; }
.#{$line-icon-css-prefix}-documents-bookmarks-01:before { content: "}"; }
.#{$line-icon-css-prefix}-documents-bookmarks-02:before { content: "~"; }
.#{$line-icon-css-prefix}-documents-bookmarks-03:before { content: "\""; }
.#{$line-icon-css-prefix}-documents-bookmarks-04:before { content: "\e000"; }
.#{$line-icon-css-prefix}-documents-bookmarks-05:before { content: "\e001"; }
.#{$line-icon-css-prefix}-documents-bookmarks-06:before { content: "\e002"; }
.#{$line-icon-css-prefix}-documents-bookmarks-07:before { content: "\e003"; }
.#{$line-icon-css-prefix}-documents-bookmarks-08:before { content: "\e004"; }
.#{$line-icon-css-prefix}-documents-bookmarks-09:before { content: "\e005"; }
.#{$line-icon-css-prefix}-documents-bookmarks-10:before { content: "\e006"; }
.#{$line-icon-css-prefix}-documents-bookmarks-11:before { content: "\e007"; }
.#{$line-icon-css-prefix}-documents-bookmarks-12:before { content: "\e008"; }
.#{$line-icon-css-prefix}-documents-bookmarks-13:before { content: "\e009"; }
.#{$line-icon-css-prefix}-documents-bookmarks-14:before { content: "\e00a"; }
.#{$line-icon-css-prefix}-documents-bookmarks-15:before { content: "\e00b"; }
.#{$line-icon-css-prefix}-documents-bookmarks-16:before { content: "\e00c"; }
.#{$line-icon-css-prefix}-ecology-01:before { content: "\e00d"; }
.#{$line-icon-css-prefix}-ecology-02:before { content: "\e00e"; }
.#{$line-icon-css-prefix}-ecology-03:before { content: "\e00f"; }
.#{$line-icon-css-prefix}-ecology-04:before { content: "\e010"; }
.#{$line-icon-css-prefix}-ecology-05:before { content: "\e011"; }
.#{$line-icon-css-prefix}-ecology-06:before { content: "\e012"; }
.#{$line-icon-css-prefix}-ecology-07:before { content: "\e013"; }
.#{$line-icon-css-prefix}-ecology-08:before { content: "\e014"; }
.#{$line-icon-css-prefix}-ecology-09:before { content: "\e015"; }
.#{$line-icon-css-prefix}-ecology-10:before { content: "\e016"; }
.#{$line-icon-css-prefix}-ecology-11:before { content: "\e017"; }
.#{$line-icon-css-prefix}-ecology-12:before { content: "\e018"; }
.#{$line-icon-css-prefix}-ecology-13:before { content: "\e019"; }
.#{$line-icon-css-prefix}-ecology-14:before { content: "\e01a"; }
.#{$line-icon-css-prefix}-ecology-15:before { content: "\e01b"; }
.#{$line-icon-css-prefix}-ecology-16:before { content: "\e01c"; }
.#{$line-icon-css-prefix}-education-science-01:before { content: "\e01d"; }
.#{$line-icon-css-prefix}-education-science-02:before { content: "\e01e"; }
.#{$line-icon-css-prefix}-education-science-03:before { content: "\e01f"; }
.#{$line-icon-css-prefix}-education-science-04:before { content: "\e020"; }
.#{$line-icon-css-prefix}-education-science-05:before { content: "\e021"; }
.#{$line-icon-css-prefix}-education-science-06:before { content: "\e022"; }
.#{$line-icon-css-prefix}-education-science-07:before { content: "\e023"; }
.#{$line-icon-css-prefix}-education-science-08:before { content: "\e024"; }
.#{$line-icon-css-prefix}-education-science-09:before { content: "\e025"; }
.#{$line-icon-css-prefix}-education-science-10:before { content: "\e026"; }
.#{$line-icon-css-prefix}-education-science-11:before { content: "\e027"; }
.#{$line-icon-css-prefix}-education-science-12:before { content: "\e028"; }
.#{$line-icon-css-prefix}-education-science-13:before { content: "\e029"; }
.#{$line-icon-css-prefix}-education-science-14:before { content: "\e02a"; }
.#{$line-icon-css-prefix}-education-science-15:before { content: "\e02b"; }
.#{$line-icon-css-prefix}-education-science-16:before { content: "\e02c"; }
.#{$line-icon-css-prefix}-education-science-17:before { content: "\e02d"; }
.#{$line-icon-css-prefix}-education-science-18:before { content: "\e02e"; }
.#{$line-icon-css-prefix}-education-science-19:before { content: "\e02f"; }
.#{$line-icon-css-prefix}-education-science-20:before { content: "\e030"; }
.#{$line-icon-css-prefix}-emoticons-01:before { content: "\e031"; }
.#{$line-icon-css-prefix}-emoticons-02:before { content: "\e032"; }
.#{$line-icon-css-prefix}-emoticons-03:before { content: "\e033"; }
.#{$line-icon-css-prefix}-emoticons-04:before { content: "\e034"; }
.#{$line-icon-css-prefix}-emoticons-05:before { content: "\e035"; }
.#{$line-icon-css-prefix}-emoticons-06:before { content: "\e036"; }
.#{$line-icon-css-prefix}-emoticons-07:before { content: "\e037"; }
.#{$line-icon-css-prefix}-emoticons-08:before { content: "\e038"; }
.#{$line-icon-css-prefix}-emoticons-09:before { content: "\e039"; }
.#{$line-icon-css-prefix}-emoticons-10:before { content: "\e03a"; }
.#{$line-icon-css-prefix}-emoticons-11:before { content: "\e03b"; }
.#{$line-icon-css-prefix}-emoticons-12:before { content: "\e03c"; }
.#{$line-icon-css-prefix}-emoticons-13:before { content: "\e03d"; }
.#{$line-icon-css-prefix}-emoticons-14:before { content: "\e03e"; }
.#{$line-icon-css-prefix}-emoticons-15:before { content: "\e03f"; }
.#{$line-icon-css-prefix}-emoticons-16:before { content: "\e040"; }
.#{$line-icon-css-prefix}-emoticons-17:before { content: "\e041"; }
.#{$line-icon-css-prefix}-emoticons-18:before { content: "\e042"; }
.#{$line-icon-css-prefix}-emoticons-19:before { content: "\e043"; }
.#{$line-icon-css-prefix}-emoticons-20:before { content: "\e044"; }
.#{$line-icon-css-prefix}-emoticons-21:before { content: "\e045"; }
.#{$line-icon-css-prefix}-emoticons-22:before { content: "\e046"; }
.#{$line-icon-css-prefix}-emoticons-23:before { content: "\e047"; }
.#{$line-icon-css-prefix}-emoticons-24:before { content: "\e048"; }
.#{$line-icon-css-prefix}-emoticons-25:before { content: "\e049"; }
.#{$line-icon-css-prefix}-emoticons-26:before { content: "\e04a"; }
.#{$line-icon-css-prefix}-emoticons-27:before { content: "\e04b"; }
.#{$line-icon-css-prefix}-emoticons-28:before { content: "\e04c"; }
.#{$line-icon-css-prefix}-emoticons-29:before { content: "\e04d"; }
.#{$line-icon-css-prefix}-emoticons-30:before { content: "\e04e"; }
.#{$line-icon-css-prefix}-emoticons-31:before { content: "\e04f"; }
.#{$line-icon-css-prefix}-emoticons-32:before { content: "\e050"; }
.#{$line-icon-css-prefix}-emoticons-33:before { content: "\e051"; }
.#{$line-icon-css-prefix}-emoticons-34:before { content: "\e052"; }
.#{$line-icon-css-prefix}-emoticons-35:before { content: "\e053"; }
.#{$line-icon-css-prefix}-emoticons-artboard-80:before { content: "\e054"; }
.#{$line-icon-css-prefix}-faces-users-01:before { content: "\e055"; }
.#{$line-icon-css-prefix}-faces-users-02:before { content: "\e056"; }
.#{$line-icon-css-prefix}-faces-users-03:before { content: "\e057"; }
.#{$line-icon-css-prefix}-faces-users-04:before { content: "\e058"; }
.#{$line-icon-css-prefix}-faces-users-05:before { content: "\e059"; }
.#{$line-icon-css-prefix}-faces-users-06:before { content: "\e05a"; }
.#{$line-icon-css-prefix}-faces-users-07:before { content: "\e05b"; }
.#{$line-icon-css-prefix}-filetypes-01:before { content: "\e05c"; }
.#{$line-icon-css-prefix}-filetypes-02:before { content: "\e05d"; }
.#{$line-icon-css-prefix}-filetypes-03:before { content: "\e05e"; }
.#{$line-icon-css-prefix}-filetypes-04:before { content: "\e05f"; }
.#{$line-icon-css-prefix}-filetypes-05:before { content: "\e060"; }
.#{$line-icon-css-prefix}-filetypes-06:before { content: "\e061"; }
.#{$line-icon-css-prefix}-filetypes-07:before { content: "\e062"; }
.#{$line-icon-css-prefix}-filetypes-08:before { content: "\e063"; }
.#{$line-icon-css-prefix}-filetypes-09:before { content: "\e064"; }
.#{$line-icon-css-prefix}-filetypes-10:before { content: "\e065"; }
.#{$line-icon-css-prefix}-filetypes-11:before { content: "\e066"; }
.#{$line-icon-css-prefix}-filetypes-12:before { content: "\e067"; }
.#{$line-icon-css-prefix}-filetypes-13:before { content: "\e068"; }
.#{$line-icon-css-prefix}-filetypes-14:before { content: "\e069"; }
.#{$line-icon-css-prefix}-filetypes-15:before { content: "\e06a"; }
.#{$line-icon-css-prefix}-filetypes-16:before { content: "\e06b"; }
.#{$line-icon-css-prefix}-filetypes-17:before { content: "\e06c"; }
.#{$line-icon-css-prefix}-food-01:before { content: "\e06d"; }
.#{$line-icon-css-prefix}-food-02:before { content: "\e06e"; }
.#{$line-icon-css-prefix}-food-03:before { content: "\e06f"; }
.#{$line-icon-css-prefix}-food-04:before { content: "\e070"; }
.#{$line-icon-css-prefix}-food-05:before { content: "\e071"; }
.#{$line-icon-css-prefix}-food-06:before { content: "\e072"; }
.#{$line-icon-css-prefix}-food-07:before { content: "\e073"; }
.#{$line-icon-css-prefix}-food-08:before { content: "\e074"; }
.#{$line-icon-css-prefix}-food-09:before { content: "\e075"; }
.#{$line-icon-css-prefix}-food-10:before { content: "\e076"; }
.#{$line-icon-css-prefix}-food-11:before { content: "\e077"; }
.#{$line-icon-css-prefix}-food-12:before { content: "\e078"; }
.#{$line-icon-css-prefix}-food-13:before { content: "\e079"; }
.#{$line-icon-css-prefix}-food-14:before { content: "\e07a"; }
.#{$line-icon-css-prefix}-food-15:before { content: "\e07b"; }
.#{$line-icon-css-prefix}-food-16:before { content: "\e07c"; }
.#{$line-icon-css-prefix}-food-17:before { content: "\e07d"; }
.#{$line-icon-css-prefix}-food-18:before { content: "\e07e"; }
.#{$line-icon-css-prefix}-graphic-design-01:before { content: "\e07f"; }
.#{$line-icon-css-prefix}-graphic-design-02:before { content: "\e080"; }
.#{$line-icon-css-prefix}-graphic-design-03:before { content: "\e081"; }
.#{$line-icon-css-prefix}-graphic-design-04:before { content: "\e082"; }
.#{$line-icon-css-prefix}-graphic-design-05:before { content: "\e083"; }
.#{$line-icon-css-prefix}-graphic-design-06:before { content: "\e084"; }
.#{$line-icon-css-prefix}-graphic-design-07:before { content: "\e085"; }
.#{$line-icon-css-prefix}-graphic-design-08:before { content: "\e086"; }
.#{$line-icon-css-prefix}-graphic-design-09:before { content: "\e087"; }
.#{$line-icon-css-prefix}-graphic-design-10:before { content: "\e088"; }
.#{$line-icon-css-prefix}-graphic-design-11:before { content: "\e089"; }
.#{$line-icon-css-prefix}-graphic-design-12:before { content: "\e08a"; }
.#{$line-icon-css-prefix}-graphic-design-13:before { content: "\e08b"; }
.#{$line-icon-css-prefix}-graphic-design-14:before { content: "\e08c"; }
.#{$line-icon-css-prefix}-graphic-design-15:before { content: "\e08d"; }
.#{$line-icon-css-prefix}-graphic-design-16:before { content: "\e08e"; }
.#{$line-icon-css-prefix}-graphic-design-17:before { content: "\e08f"; }
.#{$line-icon-css-prefix}-graphic-design-18:before { content: "\e090"; }
.#{$line-icon-css-prefix}-graphic-design-19:before { content: "\e091"; }
.#{$line-icon-css-prefix}-graphic-design-20:before { content: "\e092"; }
.#{$line-icon-css-prefix}-graphic-design-21:before { content: "\e093"; }
.#{$line-icon-css-prefix}-graphic-design-22:before { content: "\e094"; }
.#{$line-icon-css-prefix}-graphic-design-23:before { content: "\e095"; }
.#{$line-icon-css-prefix}-graphic-design-24:before { content: "\e096"; }
.#{$line-icon-css-prefix}-graphic-design-25:before { content: "\e097"; }
.#{$line-icon-css-prefix}-graphic-design-26:before { content: "\e098"; }
.#{$line-icon-css-prefix}-graphic-design-27:before { content: "\e099"; }
.#{$line-icon-css-prefix}-graphic-design-28:before { content: "\e09a"; }
.#{$line-icon-css-prefix}-graphic-design-29:before { content: "\e09b"; }
.#{$line-icon-css-prefix}-graphic-design-30:before { content: "\e09c"; }
.#{$line-icon-css-prefix}-graphic-design-31:before { content: "\e09d"; }
.#{$line-icon-css-prefix}-graphic-design-32:before { content: "\e09e"; }
.#{$line-icon-css-prefix}-graphic-design-33:before { content: "\e09f"; }
.#{$line-icon-css-prefix}-graphic-design-34:before { content: "\e0a0"; }
.#{$line-icon-css-prefix}-medical-01:before { content: "\e0a1"; }
.#{$line-icon-css-prefix}-medical-02:before { content: "\e0a2"; }
.#{$line-icon-css-prefix}-medical-03:before { content: "\e0a3"; }
.#{$line-icon-css-prefix}-medical-04:before { content: "\e0a4"; }
.#{$line-icon-css-prefix}-medical-05:before { content: "\e0a5"; }
.#{$line-icon-css-prefix}-medical-06:before { content: "\e0a6"; }
.#{$line-icon-css-prefix}-medical-07:before { content: "\e0a7"; }
.#{$line-icon-css-prefix}-medical-08:before { content: "\e0a8"; }
.#{$line-icon-css-prefix}-medical-09:before { content: "\e0a9"; }
.#{$line-icon-css-prefix}-medical-10:before { content: "\e0aa"; }
.#{$line-icon-css-prefix}-medical-11:before { content: "\e0ab"; }
.#{$line-icon-css-prefix}-medical-12:before { content: "\e0ac"; }
.#{$line-icon-css-prefix}-medical-13:before { content: "\e0ad"; }
.#{$line-icon-css-prefix}-medical-14:before { content: "\e0ae"; }
.#{$line-icon-css-prefix}-medical-15:before { content: "\e0af"; }
.#{$line-icon-css-prefix}-medical-16:before { content: "\e0b0"; }
.#{$line-icon-css-prefix}-medical-17:before { content: "\e0b1"; }
.#{$line-icon-css-prefix}-medical-18:before { content: "\e0b2"; }
.#{$line-icon-css-prefix}-medical-19:before { content: "\e0b3"; }
.#{$line-icon-css-prefix}-medical-20:before { content: "\e0b4"; }
.#{$line-icon-css-prefix}-medical-21:before { content: "\e0b5"; }
.#{$line-icon-css-prefix}-medical-22:before { content: "\e0b6"; }
.#{$line-icon-css-prefix}-medical-23:before { content: "\e0b7"; }
.#{$line-icon-css-prefix}-medical-24:before { content: "\e0b8"; }
.#{$line-icon-css-prefix}-medical-25:before { content: "\e0b9"; }
.#{$line-icon-css-prefix}-medical-26:before { content: "\e0ba"; }
.#{$line-icon-css-prefix}-medical-27:before { content: "\e0bb"; }
.#{$line-icon-css-prefix}-medical-28:before { content: "\e0bc"; }
.#{$line-icon-css-prefix}-multimedia-01:before { content: "\e0bd"; }
.#{$line-icon-css-prefix}-multimedia-02:before { content: "\e0be"; }
.#{$line-icon-css-prefix}-multimedia-03:before { content: "\e0bf"; }
.#{$line-icon-css-prefix}-multimedia-04:before { content: "\e0c0"; }
.#{$line-icon-css-prefix}-multimedia-05:before { content: "\e0c1"; }
.#{$line-icon-css-prefix}-multimedia-06:before { content: "\e0c2"; }
.#{$line-icon-css-prefix}-multimedia-07:before { content: "\e0c3"; }
.#{$line-icon-css-prefix}-multimedia-08:before { content: "\e0c4"; }
.#{$line-icon-css-prefix}-multimedia-09:before { content: "\e0c5"; }
.#{$line-icon-css-prefix}-multimedia-10:before { content: "\e0c6"; }
.#{$line-icon-css-prefix}-multimedia-11:before { content: "\e0c7"; }
.#{$line-icon-css-prefix}-multimedia-12:before { content: "\e0c8"; }
.#{$line-icon-css-prefix}-multimedia-13:before { content: "\e0c9"; }
.#{$line-icon-css-prefix}-multimedia-14:before { content: "\e0ca"; }
.#{$line-icon-css-prefix}-multimedia-15:before { content: "\e0cb"; }
.#{$line-icon-css-prefix}-multimedia-16:before { content: "\e0cc"; }
.#{$line-icon-css-prefix}-multimedia-17:before { content: "\e0cd"; }
.#{$line-icon-css-prefix}-multimedia-18:before { content: "\e0ce"; }
.#{$line-icon-css-prefix}-multimedia-19:before { content: "\e0cf"; }
.#{$line-icon-css-prefix}-multimedia-20:before { content: "\e0d0"; }
.#{$line-icon-css-prefix}-multimedia-21:before { content: "\e0d1"; }
.#{$line-icon-css-prefix}-multimedia-22:before { content: "\e0d2"; }
.#{$line-icon-css-prefix}-multimedia-23:before { content: "\e0d3"; }
.#{$line-icon-css-prefix}-multimedia-24:before { content: "\e0d4"; }
.#{$line-icon-css-prefix}-multimedia-25:before { content: "\e0d5"; }
.#{$line-icon-css-prefix}-multimedia-26:before { content: "\e0d6"; }
.#{$line-icon-css-prefix}-multimedia-27:before { content: "\e0d7"; }
.#{$line-icon-css-prefix}-multimedia-28:before { content: "\e0d8"; }
.#{$line-icon-css-prefix}-multimedia-29:before { content: "\e0d9"; }
.#{$line-icon-css-prefix}-multimedia-30:before { content: "\e0da"; }
.#{$line-icon-css-prefix}-multimedia-31:before { content: "\e0db"; }
.#{$line-icon-css-prefix}-multimedia-32:before { content: "\e0dc"; }
.#{$line-icon-css-prefix}-multimedia-33:before { content: "\e0dd"; }
.#{$line-icon-css-prefix}-multimedia-34:before { content: "\e0de"; }
.#{$line-icon-css-prefix}-multimedia-35:before { content: "\e0df"; }
.#{$line-icon-css-prefix}-multimedia-36:before { content: "\e0e0"; }
.#{$line-icon-css-prefix}-multimedia-37:before { content: "\e0e1"; }
.#{$line-icon-css-prefix}-multimedia-38:before { content: "\e0e2"; }
.#{$line-icon-css-prefix}-multimedia-39:before { content: "\e0e3"; }
.#{$line-icon-css-prefix}-multimedia-40:before { content: "\e0e4"; }
.#{$line-icon-css-prefix}-nature-01:before { content: "\e0e5"; }
.#{$line-icon-css-prefix}-nature-02:before { content: "\e0e6"; }
.#{$line-icon-css-prefix}-nature-03:before { content: "\e0e7"; }
.#{$line-icon-css-prefix}-nature-04:before { content: "\e0e8"; }
.#{$line-icon-css-prefix}-nature-05:before { content: "\e0e9"; }
.#{$line-icon-css-prefix}-nature-06:before { content: "\e0ea"; }
.#{$line-icon-css-prefix}-nature-07:before { content: "\e0eb"; }
.#{$line-icon-css-prefix}-nature-08:before { content: "\e0ec"; }
.#{$line-icon-css-prefix}-nature-09:before { content: "\e0ed"; }
.#{$line-icon-css-prefix}-nature-10:before { content: "\e0ee"; }
.#{$line-icon-css-prefix}-nature-11:before { content: "\e0ef"; }
.#{$line-icon-css-prefix}-nature-12:before { content: "\e0f0"; }
.#{$line-icon-css-prefix}-nature-13:before { content: "\e0f1"; }
.#{$line-icon-css-prefix}-nature-14:before { content: "\e0f2"; }
.#{$line-icon-css-prefix}-office-01:before { content: "\e0f3"; }
.#{$line-icon-css-prefix}-office-01:before { content: "\e0f3"; }
.#{$line-icon-css-prefix}-shopping-15:before { content: "\e183"; }
.#{$line-icon-css-prefix}-shopping-16:before { content: "\e184"; }
.#{$line-icon-css-prefix}-shopping-17:before { content: "\e185"; }
.#{$line-icon-css-prefix}-shopping-18:before { content: "\e186"; }
.#{$line-icon-css-prefix}-shopping-19:before { content: "\e187"; }
.#{$line-icon-css-prefix}-shopping-20:before { content: "\e188"; }
.#{$line-icon-css-prefix}-shopping-21:before { content: "\e189"; }
.#{$line-icon-css-prefix}-shopping-22:before { content: "\e18a"; }
.#{$line-icon-css-prefix}-shopping-23:before { content: "\e18b"; }
.#{$line-icon-css-prefix}-shopping-24:before { content: "\e18c"; }
.#{$line-icon-css-prefix}-shopping-25:before { content: "\e18d"; }
.#{$line-icon-css-prefix}-shopping-26:before { content: "\e18e"; }
.#{$line-icon-css-prefix}-shopping-27:before { content: "\e18f"; }
.#{$line-icon-css-prefix}-socialmedia-01:before { content: "\e190"; }
.#{$line-icon-css-prefix}-socialmedia-02:before { content: "\e191"; }
.#{$line-icon-css-prefix}-socialmedia-03:before { content: "\e192"; }
.#{$line-icon-css-prefix}-socialmedia-04:before { content: "\e193"; }
.#{$line-icon-css-prefix}-socialmedia-05:before { content: "\e194"; }
.#{$line-icon-css-prefix}-socialmedia-06:before { content: "\e195"; }
.#{$line-icon-css-prefix}-socialmedia-07:before { content: "\e196"; }
.#{$line-icon-css-prefix}-socialmedia-08:before { content: "\e197"; }
.#{$line-icon-css-prefix}-socialmedia-09:before { content: "\e198"; }
.#{$line-icon-css-prefix}-socialmedia-10:before { content: "\e199"; }
.#{$line-icon-css-prefix}-socialmedia-11:before { content: "\e19a"; }
.#{$line-icon-css-prefix}-socialmedia-12:before { content: "\e19b"; }
.#{$line-icon-css-prefix}-socialmedia-13:before { content: "\e19c"; }
.#{$line-icon-css-prefix}-socialmedia-14:before { content: "\e19d"; }
.#{$line-icon-css-prefix}-socialmedia-15:before { content: "\e19e"; }
.#{$line-icon-css-prefix}-socialmedia-16:before { content: "\e19f"; }
.#{$line-icon-css-prefix}-socialmedia-17:before { content: "\e1a0"; }
.#{$line-icon-css-prefix}-socialmedia-18:before { content: "\e1a1"; }
.#{$line-icon-css-prefix}-socialmedia-19:before { content: "\e1a2"; }
.#{$line-icon-css-prefix}-socialmedia-20:before { content: "\e1a3"; }
.#{$line-icon-css-prefix}-socialmedia-21:before { content: "\e1a4"; }
.#{$line-icon-css-prefix}-socialmedia-22:before { content: "\e1a5"; }
.#{$line-icon-css-prefix}-socialmedia-23:before { content: "\e1a6"; }
.#{$line-icon-css-prefix}-socialmedia-24:before { content: "\e1a7"; }
.#{$line-icon-css-prefix}-socialmedia-25:before { content: "\e1a8"; }
.#{$line-icon-css-prefix}-socialmedia-26:before { content: "\e1a9"; }
.#{$line-icon-css-prefix}-socialmedia-27:before { content: "\e1aa"; }
.#{$line-icon-css-prefix}-socialmedia-28:before { content: "\e1ab"; }
.#{$line-icon-css-prefix}-socialmedia-29:before { content: "\e1ac"; }
.#{$line-icon-css-prefix}-sport-01:before { content: "\e1ad"; }
.#{$line-icon-css-prefix}-sport-02:before { content: "\e1ae"; }
.#{$line-icon-css-prefix}-sport-03:before { content: "\e1af"; }
.#{$line-icon-css-prefix}-sport-04:before { content: "\e1b0"; }
.#{$line-icon-css-prefix}-sport-05:before { content: "\e1b1"; }
.#{$line-icon-css-prefix}-sport-06:before { content: "\e1b2"; }
.#{$line-icon-css-prefix}-sport-07:before { content: "\e1b3"; }
.#{$line-icon-css-prefix}-sport-08:before { content: "\e1b4"; }
.#{$line-icon-css-prefix}-sport-09:before { content: "\e1b5"; }
.#{$line-icon-css-prefix}-sport-10:before { content: "\e1b6"; }
.#{$line-icon-css-prefix}-sport-11:before { content: "\e1b7"; }
.#{$line-icon-css-prefix}-sport-12:before { content: "\e1b8"; }
.#{$line-icon-css-prefix}-sport-13:before { content: "\e1b9"; }
.#{$line-icon-css-prefix}-sport-14:before { content: "\e1ba"; }
.#{$line-icon-css-prefix}-sport-15:before { content: "\e1bb"; }
.#{$line-icon-css-prefix}-sport-16:before { content: "\e1bc"; }
.#{$line-icon-css-prefix}-sport-17:before { content: "\e1bd"; }
.#{$line-icon-css-prefix}-sport-18:before { content: "\e1be"; }
.#{$line-icon-css-prefix}-text-hierarchy-01:before { content: "\e1bf"; }
.#{$line-icon-css-prefix}-text-hierarchy-02:before { content: "\e1c0"; }
.#{$line-icon-css-prefix}-text-hierarchy-03:before { content: "\e1c1"; }
.#{$line-icon-css-prefix}-text-hierarchy-04:before { content: "\e1c2"; }
.#{$line-icon-css-prefix}-text-hierarchy-05:before { content: "\e1c3"; }
.#{$line-icon-css-prefix}-text-hierarchy-06:before { content: "\e1c4"; }
.#{$line-icon-css-prefix}-text-hierarchy-07:before { content: "\e1c5"; }
.#{$line-icon-css-prefix}-text-hierarchy-08:before { content: "\e1c6"; }
.#{$line-icon-css-prefix}-text-hierarchy-09:before { content: "\e1c7"; }
.#{$line-icon-css-prefix}-text-hierarchy-10:before { content: "\e1c8"; }
.#{$line-icon-css-prefix}-touch-gestures-01:before { content: "\e1c9"; }
.#{$line-icon-css-prefix}-touch-gestures-02:before { content: "\e1ca"; }
.#{$line-icon-css-prefix}-touch-gestures-03:before { content: "\e1cb"; }
.#{$line-icon-css-prefix}-touch-gestures-04:before { content: "\e1cc"; }
.#{$line-icon-css-prefix}-touch-gestures-05:before { content: "\e1cd"; }
.#{$line-icon-css-prefix}-touch-gestures-06:before { content: "\e1ce"; }
.#{$line-icon-css-prefix}-touch-gestures-07:before { content: "\e1cf"; }
.#{$line-icon-css-prefix}-touch-gestures-08:before { content: "\e1d0"; }
.#{$line-icon-css-prefix}-touch-gestures-09:before { content: "\e1d1"; }
.#{$line-icon-css-prefix}-touch-gestures-10:before { content: "\e1d2"; }
.#{$line-icon-css-prefix}-touch-gestures-11:before { content: "\e1d3"; }
.#{$line-icon-css-prefix}-touch-gestures-12:before { content: "\e1d4"; }
.#{$line-icon-css-prefix}-touch-gestures-13:before { content: "\e1d5"; }
.#{$line-icon-css-prefix}-touch-gestures-14:before { content: "\e1d6"; }
.#{$line-icon-css-prefix}-touch-gestures-15:before { content: "\e1d7"; }
.#{$line-icon-css-prefix}-touch-gestures-16:before { content: "\e1d8"; }
.#{$line-icon-css-prefix}-touch-gestures-17:before { content: "\e1d9"; }
.#{$line-icon-css-prefix}-touch-gestures-18:before { content: "\e1da"; }
.#{$line-icon-css-prefix}-touch-gestures-19:before { content: "\e1db"; }
.#{$line-icon-css-prefix}-touch-gestures-20:before { content: "\e1dc"; }
.#{$line-icon-css-prefix}-touch-gestures-21:before { content: "\e1dd"; }
.#{$line-icon-css-prefix}-touch-gestures-22:before { content: "\e1de"; }
.#{$line-icon-css-prefix}-touch-gestures-23:before { content: "\e1df"; }
.#{$line-icon-css-prefix}-touch-gestures-24:before { content: "\e1e0"; }
.#{$line-icon-css-prefix}-travel-transportation-01:before { content: "\e1e1"; }
.#{$line-icon-css-prefix}-travel-transportation-02:before { content: "\e1e2"; }
.#{$line-icon-css-prefix}-travel-transportation-03:before { content: "\e1e3"; }
.#{$line-icon-css-prefix}-travel-transportation-04:before { content: "\e1e4"; }
.#{$line-icon-css-prefix}-travel-transportation-05:before { content: "\e1e5"; }
.#{$line-icon-css-prefix}-travel-transportation-06:before { content: "\e1e6"; }
.#{$line-icon-css-prefix}-travel-transportation-07:before { content: "\e1e7"; }
.#{$line-icon-css-prefix}-travel-transportation-08:before { content: "\e1e8"; }
.#{$line-icon-css-prefix}-travel-transportation-09:before { content: "\e1e9"; }
.#{$line-icon-css-prefix}-travel-transportation-10:before { content: "\e1ea"; }
.#{$line-icon-css-prefix}-travel-transportation-11:before { content: "\e1eb"; }
.#{$line-icon-css-prefix}-travel-transportation-12:before { content: "\e1ec"; }
.#{$line-icon-css-prefix}-travel-transportation-13:before { content: "\e1ed"; }
.#{$line-icon-css-prefix}-travel-transportation-14:before { content: "\e1ee"; }
.#{$line-icon-css-prefix}-travel-transportation-15:before { content: "\e1ef"; }
.#{$line-icon-css-prefix}-travel-transportation-16:before { content: "\e1f0"; }
.#{$line-icon-css-prefix}-travel-transportation-17:before { content: "\e1f1"; }
.#{$line-icon-css-prefix}-travel-transportation-18:before { content: "\e1f2"; }
.#{$line-icon-css-prefix}-travel-transportation-19:before { content: "\e1f3"; }
.#{$line-icon-css-prefix}-travel-transportation-20:before { content: "\e1f4"; }
.#{$line-icon-css-prefix}-weather-01:before { content: "\e1f5"; }
.#{$line-icon-css-prefix}-weather-02:before { content: "\e1f6"; }
.#{$line-icon-css-prefix}-weather-03:before { content: "\e1f7"; }
.#{$line-icon-css-prefix}-weather-04:before { content: "\e1f8"; }
.#{$line-icon-css-prefix}-weather-05:before { content: "\e1f9"; }
.#{$line-icon-css-prefix}-weather-06:before { content: "\e1fa"; }
.#{$line-icon-css-prefix}-weather-07:before { content: "\e1fb"; }
.#{$line-icon-css-prefix}-weather-08:before { content: "\e1fc"; }
.#{$line-icon-css-prefix}-weather-09:before { content: "\e1fd"; }
.#{$line-icon-css-prefix}-weather-10:before { content: "\e1fe"; }
.#{$line-icon-css-prefix}-weather-11:before { content: "\e1ff"; }
.#{$line-icon-css-prefix}-weather-12:before { content: "\e200"; }
.#{$line-icon-css-prefix}-weather-13:before { content: "\e201"; }
.#{$line-icon-css-prefix}-weather-14:before { content: "\e202"; }
.#{$line-icon-css-prefix}-office-02:before { content: "\e0f4"; }
.#{$line-icon-css-prefix}-office-03:before { content: "\e0f5"; }
.#{$line-icon-css-prefix}-office-04:before { content: "\e0f6"; }
.#{$line-icon-css-prefix}-office-05:before { content: "\e0f7"; }
.#{$line-icon-css-prefix}-office-06:before { content: "\e0f8"; }
.#{$line-icon-css-prefix}-office-07:before { content: "\e0f9"; }
.#{$line-icon-css-prefix}-office-08:before { content: "\e0fa"; }
.#{$line-icon-css-prefix}-office-09:before { content: "\e0fb"; }
.#{$line-icon-css-prefix}-office-10:before { content: "\e0fc"; }
.#{$line-icon-css-prefix}-office-11:before { content: "\e0fd"; }
.#{$line-icon-css-prefix}-office-12:before { content: "\e0fe"; }
.#{$line-icon-css-prefix}-office-13:before { content: "\e0ff"; }
.#{$line-icon-css-prefix}-office-14:before { content: "\e100"; }
.#{$line-icon-css-prefix}-office-15:before { content: "\e101"; }
.#{$line-icon-css-prefix}-office-16:before { content: "\e102"; }
.#{$line-icon-css-prefix}-office-17:before { content: "\e103"; }
.#{$line-icon-css-prefix}-office-18:before { content: "\e104"; }
.#{$line-icon-css-prefix}-office-19:before { content: "\e105"; }
.#{$line-icon-css-prefix}-office-20:before { content: "\e106"; }
.#{$line-icon-css-prefix}-office-21:before { content: "\e107"; }
.#{$line-icon-css-prefix}-office-22:before { content: "\e108"; }
.#{$line-icon-css-prefix}-office-23:before { content: "\e109"; }
.#{$line-icon-css-prefix}-office-24:before { content: "\e10a"; }
.#{$line-icon-css-prefix}-office-25:before { content: "\e10b"; }
.#{$line-icon-css-prefix}-office-26:before { content: "\e10c"; }
.#{$line-icon-css-prefix}-office-27:before { content: "\e10d"; }
.#{$line-icon-css-prefix}-office-28:before { content: "\e10e"; }
.#{$line-icon-css-prefix}-office-29:before { content: "\e10f"; }
.#{$line-icon-css-prefix}-office-30:before { content: "\e110"; }
.#{$line-icon-css-prefix}-office-31:before { content: "\e111"; }
.#{$line-icon-css-prefix}-office-32:before { content: "\e112"; }
.#{$line-icon-css-prefix}-office-33:before { content: "\e113"; }
.#{$line-icon-css-prefix}-office-34:before { content: "\e114"; }
.#{$line-icon-css-prefix}-office-35:before { content: "\e115"; }
.#{$line-icon-css-prefix}-office-36:before { content: "\e116"; }
.#{$line-icon-css-prefix}-office-37:before { content: "\e117"; }
.#{$line-icon-css-prefix}-office-38:before { content: "\e118"; }
.#{$line-icon-css-prefix}-office-39:before { content: "\e119"; }
.#{$line-icon-css-prefix}-office-40:before { content: "\e11a"; }
.#{$line-icon-css-prefix}-office-41:before { content: "\e11b"; }
.#{$line-icon-css-prefix}-office-42:before { content: "\e11c"; }
.#{$line-icon-css-prefix}-office-43:before { content: "\e11d"; }
.#{$line-icon-css-prefix}-office-44:before { content: "\e11e"; }
.#{$line-icon-css-prefix}-office-45:before { content: "\e11f"; }
.#{$line-icon-css-prefix}-office-46:before { content: "\e120"; }
.#{$line-icon-css-prefix}-office-47:before { content: "\e121"; }
.#{$line-icon-css-prefix}-office-48:before { content: "\e122"; }
.#{$line-icon-css-prefix}-office-49:before { content: "\e123"; }
.#{$line-icon-css-prefix}-office-50:before { content: "\e124"; }
.#{$line-icon-css-prefix}-office-51:before { content: "\e125"; }
.#{$line-icon-css-prefix}-office-52:before { content: "\e126"; }
.#{$line-icon-css-prefix}-office-53:before { content: "\e127"; }
.#{$line-icon-css-prefix}-office-54:before { content: "\e128"; }
.#{$line-icon-css-prefix}-office-55:before { content: "\e129"; }
.#{$line-icon-css-prefix}-office-56:before { content: "\e12a"; }
.#{$line-icon-css-prefix}-office-57:before { content: "\e12b"; }
.#{$line-icon-css-prefix}-office-58:before { content: "\e12c"; }
.#{$line-icon-css-prefix}-office-59:before { content: "\e12d"; }
.#{$line-icon-css-prefix}-office-60:before { content: "\e12e"; }
.#{$line-icon-css-prefix}-office-61:before { content: "\e12f"; }
.#{$line-icon-css-prefix}-party-01:before { content: "\e130"; }
.#{$line-icon-css-prefix}-party-02:before { content: "\e131"; }
.#{$line-icon-css-prefix}-party-03:before { content: "\e132"; }
.#{$line-icon-css-prefix}-party-04:before { content: "\e133"; }
.#{$line-icon-css-prefix}-party-05:before { content: "\e134"; }
.#{$line-icon-css-prefix}-party-06:before { content: "\e135"; }
.#{$line-icon-css-prefix}-party-07:before { content: "\e136"; }
.#{$line-icon-css-prefix}-party-08:before { content: "\e137"; }
.#{$line-icon-css-prefix}-party-09:before { content: "\e138"; }
.#{$line-icon-css-prefix}-party-10:before { content: "\e139"; }
.#{$line-icon-css-prefix}-party-11:before { content: "\e13a"; }
.#{$line-icon-css-prefix}-realestate-living-01:before { content: "\e13b"; }
.#{$line-icon-css-prefix}-realestate-living-02:before { content: "\e13c"; }
.#{$line-icon-css-prefix}-realestate-living-03:before { content: "\e13d"; }
.#{$line-icon-css-prefix}-realestate-living-04:before { content: "\e13e"; }
.#{$line-icon-css-prefix}-realestate-living-05:before { content: "\e13f"; }
.#{$line-icon-css-prefix}-realestate-living-06:before { content: "\e140"; }
.#{$line-icon-css-prefix}-realestate-living-07:before { content: "\e141"; }
.#{$line-icon-css-prefix}-realestate-living-08:before { content: "\e142"; }
.#{$line-icon-css-prefix}-realestate-living-09:before { content: "\e143"; }
.#{$line-icon-css-prefix}-realestate-living-10:before { content: "\e144"; }
.#{$line-icon-css-prefix}-realestate-living-11:before { content: "\e145"; }
.#{$line-icon-css-prefix}-realestate-living-12:before { content: "\e146"; }
.#{$line-icon-css-prefix}-realestate-living-13:before { content: "\e147"; }
.#{$line-icon-css-prefix}-realestate-living-14:before { content: "\e148"; }
.#{$line-icon-css-prefix}-realestate-living-15:before { content: "\e149"; }
.#{$line-icon-css-prefix}-realestate-living-16:before { content: "\e14a"; }
.#{$line-icon-css-prefix}-seo-icons-01:before { content: "\e14b"; }
.#{$line-icon-css-prefix}-seo-icons-02:before { content: "\e14c"; }
.#{$line-icon-css-prefix}-seo-icons-03:before { content: "\e14d"; }
.#{$line-icon-css-prefix}-seo-icons-04:before { content: "\e14e"; }
.#{$line-icon-css-prefix}-seo-icons-05:before { content: "\e14f"; }
.#{$line-icon-css-prefix}-seo-icons-06:before { content: "\e150"; }
.#{$line-icon-css-prefix}-seo-icons-07:before { content: "\e151"; }
.#{$line-icon-css-prefix}-seo-icons-08:before { content: "\e152"; }
.#{$line-icon-css-prefix}-seo-icons-09:before { content: "\e153"; }
.#{$line-icon-css-prefix}-seo-icons-10:before { content: "\e154"; }
.#{$line-icon-css-prefix}-seo-icons-11:before { content: "\e155"; }
.#{$line-icon-css-prefix}-seo-icons-12:before { content: "\e156"; }
.#{$line-icon-css-prefix}-seo-icons-13:before { content: "\e157"; }
.#{$line-icon-css-prefix}-seo-icons-14:before { content: "\e158"; }
.#{$line-icon-css-prefix}-seo-icons-15:before { content: "\e159"; }
.#{$line-icon-css-prefix}-seo-icons-16:before { content: "\e15a"; }
.#{$line-icon-css-prefix}-seo-icons-17:before { content: "\e15b"; }
.#{$line-icon-css-prefix}-seo-icons-18:before { content: "\e15c"; }
.#{$line-icon-css-prefix}-seo-icons-19:before { content: "\e15d"; }
.#{$line-icon-css-prefix}-seo-icons-20:before { content: "\e15e"; }
.#{$line-icon-css-prefix}-seo-icons-21:before { content: "\e15f"; }
.#{$line-icon-css-prefix}-seo-icons-22:before { content: "\e160"; }
.#{$line-icon-css-prefix}-seo-icons-23:before { content: "\e161"; }
.#{$line-icon-css-prefix}-seo-icons-24:before { content: "\e162"; }
.#{$line-icon-css-prefix}-seo-icons-25:before { content: "\e163"; }
.#{$line-icon-css-prefix}-seo-icons-26:before { content: "\e164"; }
.#{$line-icon-css-prefix}-seo-icons-27:before { content: "\e165"; }
.#{$line-icon-css-prefix}-seo-icons-28:before { content: "\e166"; }
.#{$line-icon-css-prefix}-seo-icons-29:before { content: "\e167"; }
.#{$line-icon-css-prefix}-seo-icons-30:before { content: "\e168"; }
.#{$line-icon-css-prefix}-seo-icons-31:before { content: "\e169"; }
.#{$line-icon-css-prefix}-seo-icons-32:before { content: "\e16a"; }
.#{$line-icon-css-prefix}-seo-icons-33:before { content: "\e16b"; }
.#{$line-icon-css-prefix}-seo-icons-34:before { content: "\e16c"; }
.#{$line-icon-css-prefix}-seo-icons-35:before { content: "\e16d"; }
.#{$line-icon-css-prefix}-seo-icons-36:before { content: "\e16e"; }
.#{$line-icon-css-prefix}-seo-icons-37:before { content: "\e16f"; }
.#{$line-icon-css-prefix}-seo-icons-38:before { content: "\e170"; }
.#{$line-icon-css-prefix}-seo-icons-39:before { content: "\e171"; }
.#{$line-icon-css-prefix}-seo-icons-40:before { content: "\e172"; }
.#{$line-icon-css-prefix}-seo-icons-41:before { content: "\e173"; }
.#{$line-icon-css-prefix}-seo-icons-42:before { content: "\e174"; }
.#{$line-icon-css-prefix}-shopping-01:before { content: "\e175"; }
.#{$line-icon-css-prefix}-shopping-02:before { content: "\e176"; }
.#{$line-icon-css-prefix}-shopping-03:before { content: "\e177"; }
.#{$line-icon-css-prefix}-shopping-04:before { content: "\e178"; }
.#{$line-icon-css-prefix}-shopping-05:before { content: "\e179"; }
.#{$line-icon-css-prefix}-shopping-06:before { content: "\e17a"; }
.#{$line-icon-css-prefix}-shopping-07:before { content: "\e17b"; }
.#{$line-icon-css-prefix}-shopping-08:before { content: "\e17c"; }
.#{$line-icon-css-prefix}-shopping-09:before { content: "\e17d"; }
.#{$line-icon-css-prefix}-shopping-10:before { content: "\e17e"; }
.#{$line-icon-css-prefix}-shopping-11:before { content: "\e17f"; }
.#{$line-icon-css-prefix}-shopping-12:before { content: "\e180"; }
.#{$line-icon-css-prefix}-shopping-13:before { content: "\e181"; }
.#{$line-icon-css-prefix}-shopping-14:before { content: "\e182"; }
