body.layout-auth {
  // background-image: url(/images/auth-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: $white;

  .heading {
    display: none;
  }

  #page {
    display: block;
    min-height: 100%;
    padding: $baseSpace*2 $baseSpace;
    background: none;

    .logo-wrapper {
      padding-top: $baseSpace;
      padding-bottom: $baseSpace*2;
      opacity: .65;
    }

    #auth-form {

      form {
        padding: $baseSpace / 2;

        label {
          color: $gray-dark;
          font-size: 12px;
        }

        a {
          color: $gray-dark;
          border-bottom: 1px dashed rgba(100, 100, 100, .4);
        }

        a.navigate {
          border-bottom: none;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
          color: $gray-darkest;
          background: transparent;
          border: 0 none;
          border-bottom: 1px solid $gray-lighter;
          font-size: 18px;
          padding-left: 0;
          padding-right: 0;
          margin-bottom: $baseSpace * 1.5;
          // font-family: "Courier New", "Courier", monospace;
          @include box-shadow(none);
          @include border-radius(0);
        }

        .agreetos {
          font-size: 14px;
          color: $gray;
        }

        .button-wrapper {
          margin-top: 12px;

          .button {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            @include button(false, $color-blue, 3px, false, false, false);

            &:hover {
              background-color: shade($color-blue, 12%);
            }
          }

          a {
            margin-left: $baseSpace;
            opacity: .8;

            &:hover {
              opacity: 1;
            }
          }
        }

      } // form

    } // #auth-form

  } // #page

} //body.layout-auth
