<div class="large-2 columns">
  <h5>Bandwidth</h5>
  {{!-- <p class="activity data-point">{{activity}}<span class="rate">{{rate}}/s</span></p> --}}
</div>

<div class="large-10 columns graph-wrapper">
  <div class="graph"></div>
</div>
