<div class="large-2 columns">
  <h5>Memory</h5>
  {{!-- <p class="percentage data-point">{{percentage}}<span class="rate">%</span></p> --}}
</div>

<div class="large-10 columns graph-wrapper">
  <div class="graph"></div>
</div>
